.AboutMain {
  flex-direction: column;
  padding-bottom: 50px;
}
.section {
  flex-direction: column;
  color: #fff;
  margin: 0 40px;
}
.heading {
  margin: 20px auto;
}

.para {
  text-align: left;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
}

.section p {
  line-height: 150%;
}
.section ul {
  padding-left: 10px;
  margin: 5px 0;
}
.section li {
  margin-top: 5px;
}
.section .strike {
  text-decoration: line-through;
  color: #f00;
}
.section a {
  color: #0ff;
  text-decoration: none;
}
