.homeMain {
  overflow-x: auto;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeMain img {
  width: 100%;
  height: auto;
}

.loading {
  color: #fff;
}
