.homeMain {
  overflow-x: auto;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeMain img {
  width: 100%;
  height: auto;
}

.innerPage {
  background-color: rgba(255, 255, 255, 0.5);
}

.loading {
  color: #fff;
}
