.navMain {
  width: 100%;
  height: auto;
  min-height: 70px;
  padding: 10px;
  background-color: (--blue);
  /* border: 2px solid red; */
  font-size: 30px;
  color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ad{
  color: var(--pink);
}
.logo h2 {
  color: var(--yellow);
}
.connect button {
  min-height: 50px;
  width: 120px;
  border-radius: 200vmax;
  font-size: 1.3rem;
  padding: 10px;
}
@media only screen and (max-width: 400px) {
  .navMain {
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }
}
